# vim: filetype=gitconfig

[core]
    autocrlf = input

[alias]
    git = !git $1 # make `git git status` work https://twitter.com/iamtzi/status/1112088211755597827
    st = status
    co = commit
    lg = log --graph --all

    lasttag = "!bash -c 'git tag | cut -dv -f 2 | sort -t. -k 1,1n -k 2,2n -k 3,3n -k 4,4n | tail -n 1'"
    lt      = "!bash -c 'git tag | cut -dv -f 2 | sort -t. -k 1,1n -k 2,2n -k 3,3n -k 4,4n | tail -n 1'"
    latest-branches = "!bash -c \"git reflog | grep 'checkout: moving' | awk -F ' to ' '{print \\$2}' | awk '!seen[\\$0]++' | head -n 20\""

    composer = commit -m 'update composer' composer.*
    pushtags = push --tags
    ptom = push origin HEAD --tags
    syncbr = "!bash -c 'git fetch --prune && git branch --merged | grep -v main | grep -v master | xargs -n 1 git branch -d'"
    changelog = "!f() { git commit CHANGELOG.md -m \"update changelog for $(git lasttag)\"; }; f"
    diff-side="-c delta.side-by-side=true diff"
    fixup="!f() { git commit --fixup $1 && GIT_SEQUENCE_EDITOR=: git rebase -i $1~1 --autosquash; }; f"

[color]
    ui = auto

[format]
    pretty = format:%C(blue)%h%C(reset) - %C(cyan)%aD%C(reset) %C(green)(%ar)%C(reset)%C(yellow)%d%C(reset)%n          %C(white)%s%C(reset) %C(white) %an%C(reset)

[help]
    autocorrect = 1

[color "branch"]
    current = yellow reverse
    local = yellow
    remote = green

[color "diff"]
    meta = yellow bold
    frag = magenta bold
    old = red
    new = cyan

[color "status"]
    added = yellow
    changed = green
    untracked = cyan


[url "git@github.com:"]
    insteadOf = gh:
[url "git@bitbucket.org:"]
    insteadOf = bb:
[fetch]
	prune = true
[diff]
	colorMoved = zebra
[push]
	autoSetupRemote = true
[rebase]
	autosquash = true
